.content {
  position: absolute;
  right: 0;
  height: calc(100vh - 91px);
  bottom: 0;
  overflow-y: scroll;
  transition: width .5s ease-in-out;
}

.content.open {
    width: calc(100vw - 250px);
}

.content.close {
    width: 100vw;
}