.content {
  position: absolute;
  right: 0;
  height: calc(100vh - 91px);
  bottom: 0;
  overflow-y: scroll;
  transition: width .5s ease-in-out;
}

.content.open {
    width: calc(100vw - 250px);
}

.content.close {
    width: 100vw;
}

.content-page {
  padding: 10px 30px;
}

/* Toast Message Styles */
.content .toast {
  position: fixed;
  padding: 7px 15px;
  background: white;
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.103);
  transition: top .5s ease-in-out;
}

.content .toast h2 {
  margin: 0;
  font-size: 16px;
  color: inherit;
  float: left;
  margin-right: 10px;
}

.content .toast span:hover {
  cursor: pointer;
}

.content .toast.blue {
  background-color: rgb(0, 159, 194);
  color: white;
}

.content .toast.green {
  background-color: #7bc241;
  color: white;
}

.content .toast.red {
  background-color: #ff491c;
  color: white;
}

.content .toast.enabled {
  display: initial;
  top: 105px;
}

.content .toast.disabled {
  display: none;
}