.modal {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: rgba(0,0,0, 0.5);
  }
  .modal_inner {
    position: absolute;
    left: 25%;
    right: 25%;
    top: 25%;
    bottom: 25%;
    padding:30px;
    padding-bottom:80px;
    margin: auto;
    background: white;
  }
 .close-button {
    opacity: 0.3;
    color:#777;
    background-color:transparent;
    font-size:25px;
    margin-top: 15px;
    margin-right: 15px;
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    padding: 0;
    z-index:999;
    cursor: pointer;
  }
  .close-button:hover {
   opacity: 1.0;  
}
.table-container {
  margin-top: 5px;
}
.Export{
  text-align:center;
  margin-top:5px;
}
.Export button{
  color: white;
  border: none;
  height: 45px;
  width: 150px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  outline: none;
}

.Export button{
  background-color: rgb(0, 159, 194);
  border: 2px solid rgb(0, 159, 194);
}

.Export button:hover {
  color: rgb(0, 159, 194);
  background-color: white;
}
