@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

h2 {
  font-size: 25px;
  font-weight: 300;
  color: rgb(96, 104, 103);
}

.name {
border-bottom: 1px solid rgb(96, 104, 103);
padding: 0px 3px 3px;
display: inline-block;
}

.button-group {
position: absolute;
top: 15px;
right: 15px;
background-color: none;
padding: 15px 32px;
text-align: center;
text-decoration: none;
font-size: 16px;
display: block;
}

.button-group button {
color: white;
border: none;
margin: 8px 0px;
height: 45px;
width: 160px;
border-radius: 4px;
cursor: pointer;
display: block;
font-size: 16px;
font-family: "Open Sans", sans-serif;
outline: none;
}

.button-group button.enabled {
background-color: rgb(0, 159, 194);
border: 2px solid rgb(0, 159, 194);
}

.button-group button.enabled:hover {
color: rgb(0, 159, 194);
background-color: white;
}

.button-group button.disabled {
background-color: rgb(170, 170, 170);
}

.button-group button.disabled {
cursor: not-allowed;
}

.button-group .log-button .text{
display: inline;
}

.button-group .icon{
display: inline;
font-size: 30px;
}

input[type="text"], input[type="number"] {
padding: 10px;
margin: 6px;
border: 1px solid rgb(201, 201, 201);
border-radius: 4px;     
outline: none;
font-size: 16px;
}

input[type="text"]:focus {
border-color:rgb(0, 159, 194);
box-shadow: 0 0 8px 0 rgb(0, 159, 194);
}