.login-screen{
    width:100vw;
    height:100vh;
    background-color: rgb(0, 159, 194);
}
.main-div{
    position:absolute;
    left:43%;
    top:35%;
    margin-left:-50px;
    margin-top:-50px;
    border: black solid 1px;
    border-radius: 5px;
    padding: 10px;
    background-color: white;
}

.login-screen h2{
    text-align: center;
    color: white;
}

.login-button{
    background-color: rgb(0, 159, 194);
    color: white;
    border: none;
    margin: 8px 0px;
    height: 45px;
    width: 150px;
    border: 2px solid rgb(0, 159, 194);
    border-radius: 4px;
    cursor: pointer;
    display: block;
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    margin-left: 25%;
}

.login-button:hover {
    color: rgb(0, 159, 194);
    background-color: white;
}

.login-screen img{
    height: 70px;
    margin: auto;
    display: block;
    padding: 10px;
}

.login-screen input[type="password"], .login-screen input[type="text"] {
  padding: 10px;
  margin: 6px;
  border: 1px solid rgb(201, 201, 201);
  border-radius: 4px;     
  outline: none;
  font-size: 16px;
}

.login-screen input[type="password"]:focus, .login-screen input[type="text"]:focus {
  border-color:rgb(0, 159, 194);
  box-shadow: 0 0 8px 0 rgb(0, 159, 194);
}

a {
    text-decoration: underline;
}

a:hover{
    cursor: pointer; 
}