.logo-header {
  position: fixed;
  top: 0;
  right: 0;
  border-bottom: 1px solid rgb(201, 201, 201);
  z-index: -1;
  transition: width .5s ease-in-out;
}

.logo-header img {
  height: 70px;
  margin: auto;
  display: block;
  padding: 10px;
}

.logo-header.open {
    width: calc(100vw - 250px);
}

.logo-header.close {
    width: 100vw;
}