
.activity-menu{
    position: absolute;
    margin-top: -22px;
    padding-left: 69px;

}
.activity-menu .possible-values {
    position: absolute;
    padding: 0;
    background-color: white;
    border: 1px solid grey;
    border-top: 0;
    width: 200px;
    max-height: 170px;
    z-index: 5;
    box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.089);
    overflow-y: scroll;
  }
  
  .activity-menu .possible-values li {
    list-style: none;
    padding: 7px;
    border-bottom: 1px solid rgb(209, 209, 209);
    color: rgb(75, 75, 75);
  }
  
  .activity-menu .possible-values li:hover {
    cursor: pointer;
    background-color: #7bc241;
    color: white;
  }
  
  .activity-menu .possible-values li:last-of-type {
    border-bottom: 0;
  }

  .searchable-input {
    padding-bottom: 6px;
  }