.search-page {
  height: calc(100% - 20px);
}

.search-page .header {
  height: 75px;
}

.search-page .header h2 {
  float: left;
}

.search-page .header form {
  float: right;
}

.search-page .header input[type="text"] {
  float: left;
  margin-top: 25px;
  width: 200px;
  height: 18px;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #c5c5c5;
  font-size: 15px;
  font-family: "Open Sans";
  color: #6e6e6e;
  outline: none;
}

.search-page .header button[type="submit"] {
  float: left;
  margin-left: 5px;
  background-color: rgb(0, 159, 194);
  padding: 2px 20px 5px;
  font-size: 25px;
  color: white;
  border-radius: 4px;
  margin-top: 25px;
  outline: none;
  border: none;
  cursor: pointer;
}

.search-page .header button[type="submit"]:hover {
  color: rgb(0, 159, 194);
  background-color: white;
  padding: 1px 19px 4px;
  border: 1px solid rgb(0, 159, 194);
}