.sidebar {
  background-color: rgb(0, 159, 194);
  width: 250px;
  height: 100vh;
  position: fixed;
  transition: margin-left .5s ease-in-out;
  border-right: 1px solid lightgray;
}

.sidebar.open {
  margin-left: 0;
}

.sidebar.close {
  margin-left: -250px;
}

.sidebar h1 {
    text-align: right;
    font-size: 24pt;
    color: white;
    margin-right: 10px;
    font-weight: 100;
}

.sidebar h1 span {
    font-weight: 500;
}

.sidebar-button{
    display:block;
    background-color: rgb(0, 159, 194);
    border-style: solid;
    border-color: rgb(0, 141, 173);
    border-width: 1px 0px 0px 0px;
    text-align: center;
    padding: 6.5px 0px;
    color:white;
    text-decoration: none;
    font-size: 14pt;
    width: 100%
}

.sidebar-button:visited{
    color:white;
}

.sidebar-button:hover{
    background-color: white;
    color: rgb(0, 159, 194);
}

.sidebar-button:nth-last-of-type(2){
    border-bottom-width: 1px;
}

.sidebar-button:last-of-type{
    position:absolute;
    bottom:0px;
}


.sidebar-button.selected{
    background-color: white;
    color: rgb(0, 159, 194);
    border-left: #7bc241 solid 7px;
    width:243px;
}

.toggle-sidebar-button{
    position:absolute;
    left:260px;
    top:10px;
    font-size: 14pt;
    color:#aaa;
    border:1px solid #ccc;
    border-radius: 5px;
    background-color: transparent;
    padding: 2px 10px 4px;
    outline: none;
    cursor: pointer;
}

.toggle-sidebar-button:active {
    background-color: rgb(230, 230, 230);
}