.student-card {
  border: 1px solid #d2d2d2;
  border-radius: 4px;
  box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.09);
  width: 200px;
  height: 250px;
  margin: 15px;
  overflow: hidden;
  cursor: pointer;
}

.student-card h3 {
  margin: 0;
  padding: 0 5px;
  font-size: 24px;
  line-height: 50px;
  text-align: center;
  color: white;
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;
}

.student-card.blue h3 {
  background-color: rgb(0, 159, 194);
}

.student-card.green h3 {
  background-color: #7bc241;
}

.student-card.yellow h3 {
  background-color: #ffc31c;
}

.student-card h4 {
  font-size: 18px;
  color: black;
  text-align: center;
  margin-bottom: 5px;
}

.student-card p {
  margin-top: 0;
  font-size: 16px;
  color: rgb(94, 94, 94);
  text-align: center;
}