.student-profile .name {
  border-bottom: 1px solid rgb(96, 104, 103);
  padding: 0px 3px 3px;
  display: inline-block;
}

.student-profile .button-group {
  position: absolute;
  top: 15px;
  right: 15px;
  background-color: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  display: block;
}

.student-profile .button-group button, .report-button {
  color: white;
  border: none;
  margin: 8px 0px;
  height: 45px;
  width: 150px;
  border-radius: 4px;
  cursor: pointer;
  display: block;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  outline: none;
}

.student-profile .button-group button.enabled,.report-button.enabled  {
  background-color: rgb(0, 159, 194);
  border: 2px solid rgb(0, 159, 194);
}

.student-profile .button-group button.enabled:hover , .report-button.enabled:hover {
  color: rgb(0, 159, 194);
  background-color: white;
}


.student-profile .button-group button.disabled, .report-button.disabled {
  cursor: not-allowed;
  background-color: rgb(170, 170, 170);
}

.student-profile .button-group .log-button .text{
  display: inline;
}

.student-profile .button-group .icon{
  display: inline;
  font-size: 30px;
}

.student-profile input[type="text"], input[type="number"] {
  padding: 10px;
  margin: 6px;
  border: 1px solid rgb(201, 201, 201);
  border-radius: 4px;     
  outline: none;
  font-size: 16px;
}

.student-profile input[type="text"]:focus {
  border-color:rgb(0, 159, 194);
  box-shadow: 0 0 8px 0 rgb(0, 159, 194);
}

